.contact {
  min-height: 100vh;
  //   width: 100vh;
  width: calc(100% - 165px);
  margin-left: auto;
  margin-right: 0;
  background-color: #494399;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  //   flex-direction: column;

  .left-box {
    width: 485px;
    height: 690px;
    background-color: #72efe9;
    margin-right: 60px;

    .contact-image {
      width: 540px;
      height: 540px;
      background-image: url(../images/contact.jpg);
      background-size: cover;
      background-position: center;
      margin-top: 70px;
      margin-left: 70px;
    }
  }

  form {
    width: 35%;

    .input {
      width: 100%;
      height: 40px;
      background-color: #494399;
      outline: none;
      border: none;
      border-bottom: 2px white solid;
      padding: 10px;
      margin-bottom: 60px;
      color: white;
      font-size: 16px;
    }

    textarea {
      background-color: #494399;
      width: 100%;
      height: 110px;
      outline: none;
      border: none;
      border-bottom: 2px white solid;
      padding: 10px;
      color: white;
      font-size: 16px;
    }

    ::placeholder {
      color: #bdbfed;
    }

    .submit {
      width: 100%;
      height: 50px;
      margin-top: 20px;
      background-color: #72efe9;
      font-size: 20px;
      color: #494399;
      outline: none;
      border: none;
    }

    .submit:hover {
      background-color: white;
    }
  }
}

@media screen and (max-width: 1370px) {
  .contact {
    .left-box {
      margin-right: 160px;
    }
  }
}

@media screen and (max-width: 1170px) {
  .contact {
    .left-box {
      width: 323px;
      height: 460px;
      margin-right: 90px;

      .contact-image {
        width: 360px;
        height: 360px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .contact {
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 900px) {
  .contact {
    flex-direction: column;

    .left-box {
      margin-top: 50px;
    }

    form {
      width: 80%;
      margin-top: 70px;
      margin-bottom: 70px;
    }
  }
}
