.home {
  height: 100vh;
  //   width: 100vh;
  width: calc(100% - 165px);
  margin-left: auto;
  margin-right: 0;
  background-color: #494399;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .home-center {
    width: 300px;
    height: 100vh;
    background-color: #72efe9;
    // display: flex;
    // align-items: center;
    // justify-content: space-evenly;

    .data-center-image {
      width: 658px;
      height: 495px;
      background-image: url(../images/data-center.jpg);
      margin-left: -180px;
      margin-top: 145px;
      background-position: center;
      background-size: cover;
      //   z-index: 1;
    }

    .white-circle {
      width: 170px;
      height: 170px;
      background-color: white;
      border-radius: 50%;
      margin-top: -540px;
      margin-left: -250px;
      //   z-index: 99;
    }

    .home-text-box {
      width: 465px;
      height: 285px;
      background-color: white;
      margin-top: 255px;
      margin-left: 230px;
      padding: 35px;

      h2 {
        color: #494399;
      }

      p {
        font-family: OrbReg;
        font-size: 15px;
      }

      .filler {
        height: 16px;
      }

      .learn-more-button {
        text-decoration: none;
        background-color: #494399;
        color: white;
        padding: 15px;
        border-radius: 65px;
      }

      a:hover {
        background-color: #72efe9;
        color: #494399;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .home {
    .home-center {
      .data-center-image {
        width: 438px;
        height: 330px;
        margin-left: -70px;
        margin-top: 200px;
      }

      .white-circle {
        height: 113px;
        width: 113px;
        margin-top: -350px;
        margin-left: -116px;
      }

      .home-text-box {
        width: 310px;
        height: 190px;
        margin-top: 160px;
        margin-left: 200px;
        padding: 20px;

        h2 {
          font-size: 20px;
        }

        p {
          font-size: 12px;
          line-height: 15px;
        }

        .filler {
          height: 1px;
        }

        .learn-more-button {
          font-size: 12px;
          height: 10px;
          padding: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .home {
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 860px) {
  .home {
    .home-center {
      width: 150px;
      .data-center-image {
        width: 336px;
        height: 253px;
        margin-left: -92px;
        margin-top: 200px;
      }

      .white-circle {
        height: 86px;
        width: 86px;
        margin-top: -270px;
        margin-left: -113px;
      }

      .home-text-box {
        width: 310px;
        height: 190px;
        margin-top: 140px;
        margin-left: -50px;
        padding: 20px;

        h2 {
          font-size: 20px;
        }

        p {
          font-size: 12px;
          line-height: 15px;
        }

        .filler {
          height: 1px;
        }

        .learn-more-button {
          font-size: 12px;
          height: 10px;
          padding: 10px;
        }
      }
    }
  }
}
